RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

Options -Indexes

# Cache SVG sprites externally in browser for up to a year
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/svg+xml "access plus 1 year"
</IfModule>
<IfModule mod_headers.c>
    <FilesMatch "\.svg$">
        Header set Cache-Control "max-age=31536000, public"
    </FilesMatch>
</IfModule>